

header {
  border-bottom: var(--header-border);
  .conteiner {
  display: flex;
  align-items: center;
  margin: 0;
}
}
.nav-conteiner {
  display: flex;
  align-items: center;
}
.site-nav__link,
.contact__link {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  margin-right: 10px;
  fill: var(--main-icons-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contact__link:hover &,
.contact__link:focus & {
  fill: #2196f3;
}
}


.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
&:focus,
 {
  color: var(--link-hover-color);
}
}
.site-nav {
  display: none;
  // display: flex;
  // transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.site-nav__item {
  position: relative;
  &:not(:last-child) {
  margin-right: 50px;
}
}

.contact {
//   display: flex;
//   margin-left: auto;
//   &__item:not(:last-child) {
//   margin-right: 50px;
// }
}

.contact__link {
  display: none;
//   color: var(--secondary-text-clor);
//   padding-top: 32px;
//   padding-bottom: 32px;
// &:hover,
// &:focus {
//   color: var(--link-hover-color);
// }
}

.site-nav__link--current {
  color: var(--link-hover-color);
  &::after{ 
    content: ''; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    display: block; 
    width: 100%; 
    height: 4px; 
    border-radius: 2px; 
    background-color: var(--link-hover-color); 
    bottom:-1px; 
}
}

.mob-menu .conteiner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 0;
   
}
@media screen and (min-width: 480px) {
   .conteiner { width: 480px;}
  }

  .menu-button {
  margin-left: auto;
  background-color: #FFFFFF;
  border: none;
}
.mob-menu {
  position: fixed;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
z-index: 1;
}

.menu-close {
  display: block;
  margin-left: auto;
  background-color: #FFFFFF;
  border: none;
}
.menu-button__icon {
}
.menu-button__icon--close {
}
.mob-menu__navigation {
  
}
.mob-menu__list {
 
}
.mob-menu__list .mob-menu__link--current {
  color: var(--link-hover-color);
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #212121;
}
.menu-thumb {
}
.menu-contact {
  margin-bottom: 64px;
}
.menu-contact__item {
  margin-bottom: 19px;
}
.menu-contact__link {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;
color: #757575;
}
.menu-social {display: flex;
}

 .menu-social__item {
		padding-right: 10px;
		padding-left: 10px;
		border-right: 1px solid rgba(33, 33, 33, 0.2);
	}

	.menu-social__item:first-child {
		padding-left: 0;
	}

	.menu-social__item:last-child {
		padding-right: 0;
		border-right: none;
	}
  

.menu-social__link {font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
}