header {
  border-bottom: var(--header-border);
  .conteiner {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
      width: 768px;
      display: flex;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
      display: flex;
      justify-content: center;
    }
  }
}
.nav-conteiner {
  display: flex;
  align-items: center;
}
.site-nav__link,
.contact__link {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon {
  margin-right: 10px;
  fill: var(--main-icons-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .contact__link:hover &,
  .contact__link:focus & {
    fill: #2196f3;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }
}
.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.site-nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.contact {
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contact__link {
  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    color: var(--secondary-text-clor);
    padding-top: 5px;
    padding-bottom: 5px;
    &:hover,
    &:focus {
      color: var(--link-hover-color);
    }
  }
}

.site-nav__link--current {
  color: var(--link-hover-color);
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--link-hover-color);
    bottom: -1px;
  }
}

.menu-button {
  display: block;
  margin-left: auto;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 0;
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.mob-menu {
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 10px;
  padding-bottom: 48px;
  > .mob-conteiner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  }
}

.menu-close {
  display: block;
  margin-left: auto;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
.menu-close:hover .menu-button__icon--close {
  fill: #2196f3;
}

.mob-menu__list .mob-menu__link--current {
  color: var(--link-hover-color);
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-contact {
  margin-bottom: 64px;
}
.menu-contact__item {
  margin-bottom: 19px;
}
.menu-contact__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.menu-social {
  display: flex;
}

.menu-social__item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social__item:first-child {
  padding-left: 0;
}

.menu-social__item:last-child {
  padding-right: 0;
  border-right: none;
}

.menu-social__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
